
#container {
    max-width: 1310px;
    margin: 0 auto;
}
header h1 {
    font-size: 4rem;
}
.header-top {
height: 100px;
}
#weather-box {
    font-size: 0.9rem;
}
#my-ad-free {
    margin-bottom: 16px;
    padding: 3px 12px;
    border-radius: 50px;
    margin-left: 20px;
}
.login-box {
    border: 1px solid red;
}
#weather-icon {
    height: 20px;
    margin-right: 5px;
}